.AboutPage {
    height: 100vh;
    padding-top: 100px;
}


.about {
    height: 200px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    color: rgb(224, 222, 222);
    background-color: rgb(138, 138, 138);
}